<div id="page-title">
    <h2>Home</h2>
    <p></p>
</div>

<header>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="example-box-wrapper">

                        <ul class="pager mrg0A">
                            <li class="next navbtn" ui-sref="index.regular({ crmId: record.crmId })"><a href="#">Start a Regular Job &rarr;</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</header>

<div class="row">


    <div class="col-md-3">
        <div class="row">
            <div class="content-box mrg10L mrg10B">
                <h3 class="content-box-header clearfix bg-default">
                    <div class="user-details">
                        USERS
                        <small>Sharing options</small>
                        <div class="font-size-16 float-right">
                            <a href="#" title="">
                                <i class="glyph-icon mrg5R opacity-hover icon-typicons-user-add"></i>
                            </a>
                        </div>
                    </div>
                </h3>

                <div class="content-box-wrapper nav-list clearfix">
                    <div class="list-group">
                        <a href="#" class="list-group-item mrg10T" title="">
                            <i class="glyph-icon icon-circle-o float-left font-red mrg5L"></i>
                            Richard
                            <div class="float-right col-md-2 pad0A">
                                <i class="glyph-icon icon-edit btn btn-xs hover-orange opacity-hover"></i>
                                <i class="glyph-icon icon-remove btn btn-xs hover-red opacity-hover"></i>
                            </div>
                        </a>
                        <a href="#" class="list-group-item" title="">
                            <i class="glyph-icon icon-circle-o float-left font-green"></i>
                            Ravin
                        </a>
                        <a href="#" class="list-group-item" title="">
                            <i class="glyph-icon icon-circle-o float-left font-blue"></i>
                            Grant
                        </a>
                        <a href="#" class="list-group-item" title="">
                            <i class="glyph-icon icon-circle-o float-left font-orange"></i>
                            Tomo
                        </a>
                        <a href="#" class="list-group-item" title="">
                            <i class="glyph-icon icon-circle-o float-left font-gray"></i>
                            Admin
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="content-box mrg10L mrg10B">
                <h3 class="content-box-header clearfix bg-default">
                    <div class="user-details">
                        CUSTOMER
                        <small>Details</small>
                    </div>
                </h3>
                <div class="content-box-wrapper nav-list clearfix">
                    <div class="col-md-12 mrg15A">
                        <h5 class="invoice-client">Jerald Mavarro</h5>
                        <address class="dim">
                            2/146 Newlands Rd<br>
                            Newlands, Wellington - 6037<br>
                        </address>
                        <div class="dim">Mob: (022) 1991277</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9">

        <div class="panel-layout">
            <div class="panel-box">

                <div class="panel-content image-box">

                    <div class="image-content font-white">

                        <div class="center-vertical">
                            <div class="meta-box center-content">
                                <h4 class="meta-subheading">Ultimate backend programmer</h4>
                                <h3 class="meta-heading">Alex Rosenberg</h3>
                                <p class="meta-desc">Lorem ipsum dolor sic amet dixit tu dolor sic amet dixit tu</p>
                            </div>
                        </div>

                    </div>
                    <img src="assets/image-resources/blurred-bg/blurred-bg-7.jpg" alt="">

                </div>
                <div class="panel-content bg-white">
                    <ul class="list-group list-group-separator mrg0A row list-group-icons">

                        <li class="col-md-6">
                            <a href="#" class="list-group-item">
                                <i class="glyph-icon font-red icon-bullhorn"></i>
                                Profile
                            </a>
                        </li>
                        <li class="col-md-6">
                            <a href="#" class="list-group-item">
                                <i class="glyph-icon font-primary icon-camera"></i>
                                Messages
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>
</div>

<footer>
    <div class="row">
        <div class="col-md-12">
            <div class="panel">
                <div class="panel-body">
                    <div class="example-box-wrapper">

                        <ul class="pager mrg0A">
                            <li class="next navbtn" ui-sref="index.regular({ crmId: record.crmId })"><a href="#">Start a Regular Job &rarr;</a></li>
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>