<!-- Header -->
<div ng-include="'app/shared/main/headerView.hbs'"></div>

<!-- Sidebar -->
<div ng-include="'app/shared/main/sidebarView.hbs'"></div>

<div id="page-content-wrapper">
    <div id="page-content">

        <!-- Home View -->
        <div ui-view="homeView"></div>

    </div>
</div>
