<!-- Header View -->
<div ui-view="headerView"></div>

<!-- Sidebar View -->
<div ui-view="sidebarView"></div>

<div id="page-content-wrapper">
    <div id="page-content">

        <!-- Theme Options View -->
        <div ui-view="themeoptionsView"></div>

        <!-- Home View -->
        <div ui-view="homeView"></div>

    </div>
</div>
