<!-- Header -->
<div ng-include="'app/shared/main/header.partial.hbs'"></div>

<!-- Sidebar -->
<div ng-include="'app/shared/main/sidebar.partial.hbs'"></div>

<div id="page-content-wrapper">
    <div id="page-content">
        <!-- Index View -->
        <div ui-view></div>
    </div>
</div>
