rail viewssssssssssssss

<p>
    <button type="button" class="btn btn-primary" ng-click="$setValidity(!$getActiveStep().valid)">Toggle Validity</button>
    {{$getActiveStep().valid ? 'valid' : 'non-valid'}}
</p>