

<div id="page-title">
    <h2>Pricing tables</h2>
    <p>Example page with pricing tables build with MonarchUI</p>
    <div id="theme-options" class="admin-options">
    <a href="javascript:void(0);" class="btn btn-primary theme-switcher tooltip-button" data-placement="left" title="Color schemes and layout options">
        <i class="glyph-icon icon-linecons-cog icon-spin"></i>
    </a>
    <div id="theme-switcher-wrapper">
        <div class="scroll-switcher">
            <h5 class="header">Layout options</h5>
            <ul class="reset-ul">
                <li>
                    <label for="boxed-layout">Boxed layout</label>
                    <input type="checkbox" data-toggletarget="boxed-layout" id="boxed-layout" class="input-switch-alt">
                </li>
                <li>
                    <label for="fixed-header">Fixed header</label>
                    <input type="checkbox" data-toggletarget="fixed-header" id="fixed-header" class="input-switch-alt">
                </li>
                <li>
                    <label for="fixed-sidebar">Fixed sidebar</label>
                    <input type="checkbox" data-toggletarget="fixed-sidebar" id="fixed-sidebar" class="input-switch-alt">
                </li>
                <li>
                    <label for="closed-sidebar">Closed sidebar</label>
                    <input type="checkbox" data-toggletarget="closed-sidebar" id="closed-sidebar" class="input-switch-alt">
                </li>
            </ul>
            <div class="boxed-bg-wrapper hide">
                <h5 class="header">
                    Boxed Page Background
                    <a class="set-background-style" data-header-bg="" title="Remove all styles" href="javascript:void(0);">Clear</a>
                </h5>
                <div class="theme-color-wrapper clearfix">
                    <h5>Patterns</h5>
                    <a class="tooltip-button set-background-style pattern-bg-3" data-header-bg="pattern-bg-3" title="Pattern 3" href="javascript:void(0);">Pattern 3</a>
                    <a class="tooltip-button set-background-style pattern-bg-4" data-header-bg="pattern-bg-4" title="Pattern 4" href="javascript:void(0);">Pattern 4</a>
                    <a class="tooltip-button set-background-style pattern-bg-5" data-header-bg="pattern-bg-5" title="Pattern 5" href="javascript:void(0);">Pattern 5</a>
                    <a class="tooltip-button set-background-style pattern-bg-6" data-header-bg="pattern-bg-6" title="Pattern 6" href="javascript:void(0);">Pattern 6</a>
                    <a class="tooltip-button set-background-style pattern-bg-7" data-header-bg="pattern-bg-7" title="Pattern 7" href="javascript:void(0);">Pattern 7</a>
                    <a class="tooltip-button set-background-style pattern-bg-8" data-header-bg="pattern-bg-8" title="Pattern 8" href="javascript:void(0);">Pattern 8</a>
                    <a class="tooltip-button set-background-style pattern-bg-9" data-header-bg="pattern-bg-9" title="Pattern 9" href="javascript:void(0);">Pattern 9</a>
                    <a class="tooltip-button set-background-style pattern-bg-10" data-header-bg="pattern-bg-10" title="Pattern 10" href="javascript:void(0);">Pattern 10</a>

                    <div class="clear"></div>

                    <h5 class="mrg15T">Solids &amp;Images</h5>
                    <a class="tooltip-button set-background-style bg-black" data-header-bg="bg-black" title="Black" href="javascript:void(0);">Black</a>
                    <a class="tooltip-button set-background-style bg-gray mrg10R" data-header-bg="bg-gray" title="Gray" href="javascript:void(0);">Gray</a>

                    <a class="tooltip-button set-background-style full-bg-1" data-header-bg="full-bg-1 fixed-bg" title="Image 1" href="javascript:void(0);">Image 1</a>
                    <a class="tooltip-button set-background-style full-bg-2" data-header-bg="full-bg-2 fixed-bg" title="Image 2" href="javascript:void(0);">Image 2</a>
                    <a class="tooltip-button set-background-style full-bg-3" data-header-bg="full-bg-3 fixed-bg" title="Image 3" href="javascript:void(0);">Image 3</a>
                    <a class="tooltip-button set-background-style full-bg-4" data-header-bg="full-bg-4 fixed-bg" title="Image 4" href="javascript:void(0);">Image 4</a>
                    <a class="tooltip-button set-background-style full-bg-5" data-header-bg="full-bg-5 fixed-bg" title="Image 5" href="javascript:void(0);">Image 5</a>
                    <a class="tooltip-button set-background-style full-bg-6" data-header-bg="full-bg-6 fixed-bg" title="Image 6" href="javascript:void(0);">Image 6</a>

                </div>
            </div>
            <h5 class="header">
                Header Style
                <a class="set-adminheader-style" data-header-bg="bg-gradient-9" title="Remove all styles" href="javascript:void(0);">Clear</a>
            </h5>
            <div class="theme-color-wrapper clearfix">
                <h5>Solids</h5>
                <a class="tooltip-button set-adminheader-style bg-primary" data-header-bg="bg-primary font-inverse" title="Primary" href="javascript:void(0);">Primary</a>
                <a class="tooltip-button set-adminheader-style bg-green" data-header-bg="bg-green font-inverse" title="Green" href="javascript:void(0);">Green</a>
                <a class="tooltip-button set-adminheader-style bg-red" data-header-bg="bg-red font-inverse" title="Red" href="javascript:void(0);">Red</a>
                <a class="tooltip-button set-adminheader-style bg-blue" data-header-bg="bg-blue font-inverse" title="Blue" href="javascript:void(0);">Blue</a>
                <a class="tooltip-button set-adminheader-style bg-warning" data-header-bg="bg-warning font-inverse" title="Warning" href="javascript:void(0);">Warning</a>
                <a class="tooltip-button set-adminheader-style bg-purple" data-header-bg="bg-purple font-inverse" title="Purple" href="javascript:void(0);">Purple</a>
                <a class="tooltip-button set-adminheader-style bg-black" data-header-bg="bg-black font-inverse" title="Black" href="javascript:void(0);">Black</a>

                <div class="clear"></div>

                <h5 class="mrg15T">Gradients</h5>
                <a class="tooltip-button set-adminheader-style bg-gradient-1" data-header-bg="bg-gradient-1 font-inverse" title="Gradient 1" href="javascript:void(0);">Gradient 1</a>
                <a class="tooltip-button set-adminheader-style bg-gradient-2" data-header-bg="bg-gradient-2 font-inverse" title="Gradient 2" href="javascript:void(0);">Gradient 2</a>
                <a class="tooltip-button set-adminheader-style bg-gradient-3" data-header-bg="bg-gradient-3 font-inverse" title="Gradient 3" href="javascript:void(0);">Gradient 3</a>
                <a class="tooltip-button set-adminheader-style bg-gradient-4" data-header-bg="bg-gradient-4 font-inverse" title="Gradient 4" href="javascript:void(0);">Gradient 4</a>
                <a class="tooltip-button set-adminheader-style bg-gradient-5" data-header-bg="bg-gradient-5 font-inverse" title="Gradient 5" href="javascript:void(0);">Gradient 5</a>
                <a class="tooltip-button set-adminheader-style bg-gradient-6" data-header-bg="bg-gradient-6 font-inverse" title="Gradient 6" href="javascript:void(0);">Gradient 6</a>
                <a class="tooltip-button set-adminheader-style bg-gradient-7" data-header-bg="bg-gradient-7 font-inverse" title="Gradient 7" href="javascript:void(0);">Gradient 7</a>
                <a class="tooltip-button set-adminheader-style bg-gradient-8" data-header-bg="bg-gradient-8 font-inverse" title="Gradient 8" href="javascript:void(0);">Gradient 8</a>
            </div>
            <h5 class="header">
                Sidebar Style
                <a class="set-sidebar-style" data-header-bg="" title="Remove all styles" href="javascript:void(0);">Clear</a>
            </h5>
            <div class="theme-color-wrapper clearfix">
                <h5>Solids</h5>
                <a class="tooltip-button set-sidebar-style bg-primary" data-header-bg="bg-primary font-inverse" title="Primary" href="javascript:void(0);">Primary</a>
                <a class="tooltip-button set-sidebar-style bg-green" data-header-bg="bg-green font-inverse" title="Green" href="javascript:void(0);">Green</a>
                <a class="tooltip-button set-sidebar-style bg-red" data-header-bg="bg-red font-inverse" title="Red" href="javascript:void(0);">Red</a>
                <a class="tooltip-button set-sidebar-style bg-blue" data-header-bg="bg-blue font-inverse" title="Blue" href="javascript:void(0);">Blue</a>
                <a class="tooltip-button set-sidebar-style bg-warning" data-header-bg="bg-warning font-inverse" title="Warning" href="javascript:void(0);">Warning</a>
                <a class="tooltip-button set-sidebar-style bg-purple" data-header-bg="bg-purple font-inverse" title="Purple" href="javascript:void(0);">Purple</a>
                <a class="tooltip-button set-sidebar-style bg-black" data-header-bg="bg-black font-inverse" title="Black" href="javascript:void(0);">Black</a>

                <div class="clear"></div>

                <h5 class="mrg15T">Gradients</h5>
                <a class="tooltip-button set-sidebar-style bg-gradient-1" data-header-bg="bg-gradient-1 font-inverse" title="Gradient 1" href="javascript:void(0);">Gradient 1</a>
                <a class="tooltip-button set-sidebar-style bg-gradient-2" data-header-bg="bg-gradient-2 font-inverse" title="Gradient 2" href="javascript:void(0);">Gradient 2</a>
                <a class="tooltip-button set-sidebar-style bg-gradient-3" data-header-bg="bg-gradient-3 font-inverse" title="Gradient 3" href="javascript:void(0);">Gradient 3</a>
                <a class="tooltip-button set-sidebar-style bg-gradient-4" data-header-bg="bg-gradient-4 font-inverse" title="Gradient 4" href="javascript:void(0);">Gradient 4</a>
                <a class="tooltip-button set-sidebar-style bg-gradient-5" data-header-bg="bg-gradient-5 font-inverse" title="Gradient 5" href="javascript:void(0);">Gradient 5</a>
                <a class="tooltip-button set-sidebar-style bg-gradient-6" data-header-bg="bg-gradient-6 font-inverse" title="Gradient 6" href="javascript:void(0);">Gradient 6</a>
                <a class="tooltip-button set-sidebar-style bg-gradient-7" data-header-bg="bg-gradient-7 font-inverse" title="Gradient 7" href="javascript:void(0);">Gradient 7</a>
                <a class="tooltip-button set-sidebar-style bg-gradient-8" data-header-bg="bg-gradient-8 font-inverse" title="Gradient 8" href="javascript:void(0);">Gradient 8</a>
            </div>
        </div>
    </div>
</div>
</div>

<link rel="stylesheet" type="text/css" href="assets/frontend-elements/pricing-table.css">

<div class="">
    <div class="content-box pad25A">

        <div class="pricing-box-alt row clearfix">

            <div class="col-md-3 plans-features">
                <div class="plan-header"></div>
                <ul>
                    <li class="header">Package contents</li>
                    <li>All components</li>
                    <li>Admin interface</li>
                    <li>Frontend interface</li>
                    <li class="header">Support</li>
                    <li>Free upgrades</li>
                    <li>Community forums</li>
                    <li>Premium support tickets</li>
                    <li>Chat for support</li>
                    <li>Documentaton &amp; Tutorials</li>
                    <li class="header">Limits</li>
                    <li>Team members</li>
                    <li>Domain limit</li>
                </ul>
            </div>
            <div class="col-md-3 individual-plan">
                <div class="plan-header">
                    <h4>Individual</h4>
                    <div class="plan-price"><small>$</small>49</div>
                    <a href="#" class="btn btn-default select-pricing-plan">Buy Now</a>
                </div>
                <ul>
                    <li class="header"></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li class="header"></li>
                    <li>3 months</li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li>1</li>
                    <li><i class="feature-excluded bg-gray"></i></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li class="header"></li>
                    <li>1</li>
                    <li>1</li>
                </ul>
                <div class="pricing-btn">
                    <a href="#" class="btn btn-black select-pricing-plan">Buy Now<b>$49 one time fee</b></a>
                </div>
            </div>
            <div class="col-md-3 studio-plan">
                <div class="plan-header">
                    <h4>Studio</h4>
                    <div class="plan-price"><small>$</small>69</div>
                    <a href="#" class="btn btn-default select-pricing-plan">Buy Now</a>
                </div>
                <ul>
                    <li class="header"></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li class="header"></li>
                    <li>6 months</li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li>5</li>
                    <li><i class="feature-excluded bg-gray"></i></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li class="header"></li>
                    <li>1</li>
                    <li>1-5</li>
                </ul>
                <div class="pricing-btn">
                    <a href="#" class="btn btn-black select-pricing-plan">Buy Now<b>$69 one time fee</b></a>
                </div>
            </div>
            <div class="col-md-3 unlimited-plan">
                <div class="plan-header">
                    <h4>Unlimited</h4>
                    <div class="plan-price"><small>$</small>99</div>
                    <a href="#" class="btn btn-default select-pricing-plan">Buy Now</a>
                </div>
                <ul>
                    <li class="header"></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li class="header"></li>
                    <li>12 months</li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li>10</li>
                    <li><i class="feature-excluded bg-gray"></i></li>
                    <li><i class="feature-included bg-orange"></i></li>
                    <li class="header"></li>
                    <li>1</li>
                    <li>unlimited</li>
                </ul>
                <div class="pricing-btn">
                    <a href="#" class="btn btn-black select-pricing-plan">Buy Now<b>$99 one time fee</b></a>
                </div>
            </div>

        </div>

        <h3 class="text-center font-size-23 mrg25T mrg25B">
            <span>Three columns</span>
        </h3>

        <div class="row">
            <div class="col-md-4">
                <div class="pricing-box content-box">
                    <h3 class="bg-black pricing-title">Silver</h3>
                    <div class="bg-blue pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12 font-size-12" title="">Sign Up Now!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-box content-box">
                    <h3 class="bg-black pricing-title">Gold</h3>
                    <div class="bg-orange pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12 font-size-12" title="">Sign Up Now!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="pricing-box content-box">
                    <h3 class="bg-black pricing-title">Platinum</h3>
                    <div class="bg-green pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12 font-size-12" title="">Sign Up Now!</a>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="text-center font-size-23 mrg25T mrg25B">
            <span>Four columns</span>
        </h3>

        <div class="row">
            <div class="col-md-3">
                <div class="pricing-box content-box">
                    <h3 class="bg-black pricing-title">Silver</h3>
                    <div class="bg-blue pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pricing-box content-box">
                    <h3 class="bg-black pricing-title">Silver</h3>
                    <div class="bg-yellow pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pricing-box content-box">
                    <h3 class="bg-black pricing-title">Gold</h3>
                    <div class="bg-orange pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="pricing-box content-box">
                    <h3 class="bg-black pricing-title">Platinum</h3>
                    <div class="bg-green pricing-specs">
                        <span><sup>$</sup>299</span>
                        <i>Once per month</i>
                    </div>
                    <ul>
                        <li>Lorem ipsum</li>
                        <li>Not included</li>
                        <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                        <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                        <li>Another item</li>
                        <li>This is included</li>
                    </ul>
                    <div class="pad25A">
                        <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                    </div>
                </div>
            </div>
        </div>

        <h3 class="text-center font-size-23 mrg25T mrg25B">
            <span>Alternate colors</span>
        </h3>

        <div class="row pricing-table mrg20T">
            <div class="pricing-box col-md-4 content-box">
                <h3 class="pricing-title">Silver</h3>
                <div class="pricing-specs">
                    <span><sup>$</sup>299</span>
                    <i>Once per month</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                </div>
            </div>
            <div class="pricing-box pricing-best col-md-4 content-box">
                <h3 class="pricing-title bg-primary">Silver</h3>
                <div class="pricing-specs">
                    <span><sup>$</sup>299</span>
                    <i>Once per month</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-primary font-size-14" title="">Sign Up Now!</a>
                </div>
            </div>
            <div class="pricing-box col-md-4 content-box">
                <h3 class="pricing-title">Silver</h3>
                <div class="pricing-specs">
                    <span><sup>$</sup>299</span>
                    <i>Once per month</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                </div>
            </div>
        </div>


        <h3 class="text-center font-size-23 mrg25T mrg25B">
            <span>Multiple columns</span>
        </h3>

        <div class="row pricing-table mrg20T">
            <div class="pricing-box col-md-2 content-box">
                <h3 class="pricing-title">Silver</h3>
                <div class="pricing-specs">
                    <span><sup>$</sup>299</span>
                    <i>Once per month</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                </div>
            </div>
            <div class="pricing-box pricing-best col-md-2 content-box">
                <h3 class="pricing-title bg-primary">Silver</h3>
                <div class="pricing-specs">
                    <span><sup>$</sup>299</span>
                    <i>Once per month</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-primary font-size-14" title="">Sign Up Now!</a>
                </div>
            </div>
            <div class="pricing-box col-md-2 content-box">
                <h3 class="pricing-title">Silver</h3>
                <div class="pricing-specs">
                    <span><sup>$</sup>299</span>
                    <i>Once per month</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                </div>
            </div>
            <div class="pricing-box col-md-2 content-box">
                <h3 class="pricing-title">Silver</h3>
                <div class="pricing-specs">
                    <span><sup>$</sup>299</span>
                    <i>Once per month</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                </div>
            </div>
            <div class="pricing-box col-md-2 content-box">
                <h3 class="pricing-title">Silver</h3>
                <div class="pricing-specs">
                    <span><sup>$</sup>299</span>
                    <i>Once per month</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                </div>
            </div>
            <div class="pricing-box col-md-2 content-box">
                <h3 class="pricing-title">Silver</h3>
                <div class="pricing-specs">
                    <span><sup>$</sup>299</span>
                    <i>Once per month</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                </div>
            </div>
        </div>

        <h3 class="text-center font-size-23 mrg25T mrg25B">
            <span>Two columns</span>
        </h3>

        <div class="row pricing-table mrg20T">
            <div class="pricing-box col-md-6 content-box">
                <h3 class="pricing-title">Silver</h3>
                <div class="pricing-specs">
                    <span><sup>$</sup>299</span>
                    <i>Once per month</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-black font-size-12" title="">Sign Up Now!</a>
                </div>
            </div>
            <div class="pricing-box pricing-best col-md-6 content-box">
                <h3 class="pricing-title bg-primary">Silver</h3>
                <div class="pricing-specs">
                    <span><sup>$</sup>299</span>
                    <i>Once per month</i>
                </div>
                <ul>
                    <li>Lorem ipsum</li>
                    <li>Not included</li>
                    <li><i class="glyph-icon icon-check-circle font-size-23 font-green"></i></li>
                    <li><i class="glyph-icon icon-times font-size-23 font-red"></i></li>
                    <li>Another item</li>
                    <li>This is included</li>
                </ul>
                <div class="pad25A">
                    <a href="#" class="btn btn-lg text-transform-upr btn-primary font-size-14" title="">Sign Up Now!</a>
                </div>
            </div>
        </div>
    </div>
</div>