

<!-- PieGage charts -->

<!--<link rel="stylesheet" type="text/css" href="assets/widgets/charts/piegage/piegage.css">-->
<script type="text/javascript" src="assets/widgets/charts/piegage/piegage.js"></script>
<script type="text/javascript" src="assets/widgets/charts/piegage/piegage-demo.js"></script>

<div id="page-title">
    <h2>Tile boxes</h2>
    <p>Tiles can be used to build various stastistics boxes.</p>
    <div id="theme-options" class="admin-options">
    <a href="javascript:void(0);" class="btn btn-primary theme-switcher tooltip-button" data-placement="left" title="Color schemes and layout options">
        <i class="glyph-icon icon-linecons-cog icon-spin"></i>
    </a>
    <div id="theme-switcher-wrapper">
        <div class="scroll-switcher">
            <h5 class="header">Layout options</h5>
            <ul class="reset-ul">
                <li>
                    <label for="boxed-layout">Boxed layout</label>
                    <input type="checkbox" data-toggletarget="boxed-layout" id="boxed-layout" class="input-switch-alt">
                </li>
                <li>
                    <label for="fixed-header">Fixed header</label>
                    <input type="checkbox" data-toggletarget="fixed-header" id="fixed-header" class="input-switch-alt">
                </li>
                <li>
                    <label for="fixed-sidebar">Fixed sidebar</label>
                    <input type="checkbox" data-toggletarget="fixed-sidebar" id="fixed-sidebar" class="input-switch-alt">
                </li>
                <li>
                    <label for="closed-sidebar">Closed sidebar</label>
                    <input type="checkbox" data-toggletarget="closed-sidebar" id="closed-sidebar" class="input-switch-alt">
                </li>
            </ul>
            <div class="boxed-bg-wrapper hide">
                <h5 class="header">
                    Boxed Page Background
                    <a class="set-background-style" data-header-bg="" title="Remove all styles" href="javascript:void(0);">Clear</a>
                </h5>
                <div class="theme-color-wrapper clearfix">
                    <h5>Patterns</h5>
                    <a class="tooltip-button set-background-style pattern-bg-3" data-header-bg="pattern-bg-3" title="Pattern 3" href="javascript:void(0);">Pattern 3</a>
                    <a class="tooltip-button set-background-style pattern-bg-4" data-header-bg="pattern-bg-4" title="Pattern 4" href="javascript:void(0);">Pattern 4</a>
                    <a class="tooltip-button set-background-style pattern-bg-5" data-header-bg="pattern-bg-5" title="Pattern 5" href="javascript:void(0);">Pattern 5</a>
                    <a class="tooltip-button set-background-style pattern-bg-6" data-header-bg="pattern-bg-6" title="Pattern 6" href="javascript:void(0);">Pattern 6</a>
                    <a class="tooltip-button set-background-style pattern-bg-7" data-header-bg="pattern-bg-7" title="Pattern 7" href="javascript:void(0);">Pattern 7</a>
                    <a class="tooltip-button set-background-style pattern-bg-8" data-header-bg="pattern-bg-8" title="Pattern 8" href="javascript:void(0);">Pattern 8</a>
                    <a class="tooltip-button set-background-style pattern-bg-9" data-header-bg="pattern-bg-9" title="Pattern 9" href="javascript:void(0);">Pattern 9</a>
                    <a class="tooltip-button set-background-style pattern-bg-10" data-header-bg="pattern-bg-10" title="Pattern 10" href="javascript:void(0);">Pattern 10</a>

                    <div class="clear"></div>

                    <h5 class="mrg15T">Solids &amp;Images</h5>
                    <a class="tooltip-button set-background-style bg-black" data-header-bg="bg-black" title="Black" href="javascript:void(0);">Black</a>
                    <a class="tooltip-button set-background-style bg-gray mrg10R" data-header-bg="bg-gray" title="Gray" href="javascript:void(0);">Gray</a>

                    <a class="tooltip-button set-background-style full-bg-1" data-header-bg="full-bg-1 fixed-bg" title="Image 1" href="javascript:void(0);">Image 1</a>
                    <a class="tooltip-button set-background-style full-bg-2" data-header-bg="full-bg-2 fixed-bg" title="Image 2" href="javascript:void(0);">Image 2</a>
                    <a class="tooltip-button set-background-style full-bg-3" data-header-bg="full-bg-3 fixed-bg" title="Image 3" href="javascript:void(0);">Image 3</a>
                    <a class="tooltip-button set-background-style full-bg-4" data-header-bg="full-bg-4 fixed-bg" title="Image 4" href="javascript:void(0);">Image 4</a>
                    <a class="tooltip-button set-background-style full-bg-5" data-header-bg="full-bg-5 fixed-bg" title="Image 5" href="javascript:void(0);">Image 5</a>
                    <a class="tooltip-button set-background-style full-bg-6" data-header-bg="full-bg-6 fixed-bg" title="Image 6" href="javascript:void(0);">Image 6</a>

                </div>
            </div>
            <h5 class="header">
                Header Style
                <a class="set-adminheader-style" data-header-bg="bg-gradient-9" title="Remove all styles" href="javascript:void(0);">Clear</a>
            </h5>
            <div class="theme-color-wrapper clearfix">
                <h5>Solids</h5>
                <a class="tooltip-button set-adminheader-style bg-primary" data-header-bg="bg-primary font-inverse" title="Primary" href="javascript:void(0);">Primary</a>
                <a class="tooltip-button set-adminheader-style bg-green" data-header-bg="bg-green font-inverse" title="Green" href="javascript:void(0);">Green</a>
                <a class="tooltip-button set-adminheader-style bg-red" data-header-bg="bg-red font-inverse" title="Red" href="javascript:void(0);">Red</a>
                <a class="tooltip-button set-adminheader-style bg-blue" data-header-bg="bg-blue font-inverse" title="Blue" href="javascript:void(0);">Blue</a>
                <a class="tooltip-button set-adminheader-style bg-warning" data-header-bg="bg-warning font-inverse" title="Warning" href="javascript:void(0);">Warning</a>
                <a class="tooltip-button set-adminheader-style bg-purple" data-header-bg="bg-purple font-inverse" title="Purple" href="javascript:void(0);">Purple</a>
                <a class="tooltip-button set-adminheader-style bg-black" data-header-bg="bg-black font-inverse" title="Black" href="javascript:void(0);">Black</a>

                <div class="clear"></div>

                <h5 class="mrg15T">Gradients</h5>
                <a class="tooltip-button set-adminheader-style bg-gradient-1" data-header-bg="bg-gradient-1 font-inverse" title="Gradient 1" href="javascript:void(0);">Gradient 1</a>
                <a class="tooltip-button set-adminheader-style bg-gradient-2" data-header-bg="bg-gradient-2 font-inverse" title="Gradient 2" href="javascript:void(0);">Gradient 2</a>
                <a class="tooltip-button set-adminheader-style bg-gradient-3" data-header-bg="bg-gradient-3 font-inverse" title="Gradient 3" href="javascript:void(0);">Gradient 3</a>
                <a class="tooltip-button set-adminheader-style bg-gradient-4" data-header-bg="bg-gradient-4 font-inverse" title="Gradient 4" href="javascript:void(0);">Gradient 4</a>
                <a class="tooltip-button set-adminheader-style bg-gradient-5" data-header-bg="bg-gradient-5 font-inverse" title="Gradient 5" href="javascript:void(0);">Gradient 5</a>
                <a class="tooltip-button set-adminheader-style bg-gradient-6" data-header-bg="bg-gradient-6 font-inverse" title="Gradient 6" href="javascript:void(0);">Gradient 6</a>
                <a class="tooltip-button set-adminheader-style bg-gradient-7" data-header-bg="bg-gradient-7 font-inverse" title="Gradient 7" href="javascript:void(0);">Gradient 7</a>
                <a class="tooltip-button set-adminheader-style bg-gradient-8" data-header-bg="bg-gradient-8 font-inverse" title="Gradient 8" href="javascript:void(0);">Gradient 8</a>
            </div>
            <h5 class="header">
                Sidebar Style
                <a class="set-sidebar-style" data-header-bg="" title="Remove all styles" href="javascript:void(0);">Clear</a>
            </h5>
            <div class="theme-color-wrapper clearfix">
                <h5>Solids</h5>
                <a class="tooltip-button set-sidebar-style bg-primary" data-header-bg="bg-primary font-inverse" title="Primary" href="javascript:void(0);">Primary</a>
                <a class="tooltip-button set-sidebar-style bg-green" data-header-bg="bg-green font-inverse" title="Green" href="javascript:void(0);">Green</a>
                <a class="tooltip-button set-sidebar-style bg-red" data-header-bg="bg-red font-inverse" title="Red" href="javascript:void(0);">Red</a>
                <a class="tooltip-button set-sidebar-style bg-blue" data-header-bg="bg-blue font-inverse" title="Blue" href="javascript:void(0);">Blue</a>
                <a class="tooltip-button set-sidebar-style bg-warning" data-header-bg="bg-warning font-inverse" title="Warning" href="javascript:void(0);">Warning</a>
                <a class="tooltip-button set-sidebar-style bg-purple" data-header-bg="bg-purple font-inverse" title="Purple" href="javascript:void(0);">Purple</a>
                <a class="tooltip-button set-sidebar-style bg-black" data-header-bg="bg-black font-inverse" title="Black" href="javascript:void(0);">Black</a>

                <div class="clear"></div>

                <h5 class="mrg15T">Gradients</h5>
                <a class="tooltip-button set-sidebar-style bg-gradient-1" data-header-bg="bg-gradient-1 font-inverse" title="Gradient 1" href="javascript:void(0);">Gradient 1</a>
                <a class="tooltip-button set-sidebar-style bg-gradient-2" data-header-bg="bg-gradient-2 font-inverse" title="Gradient 2" href="javascript:void(0);">Gradient 2</a>
                <a class="tooltip-button set-sidebar-style bg-gradient-3" data-header-bg="bg-gradient-3 font-inverse" title="Gradient 3" href="javascript:void(0);">Gradient 3</a>
                <a class="tooltip-button set-sidebar-style bg-gradient-4" data-header-bg="bg-gradient-4 font-inverse" title="Gradient 4" href="javascript:void(0);">Gradient 4</a>
                <a class="tooltip-button set-sidebar-style bg-gradient-5" data-header-bg="bg-gradient-5 font-inverse" title="Gradient 5" href="javascript:void(0);">Gradient 5</a>
                <a class="tooltip-button set-sidebar-style bg-gradient-6" data-header-bg="bg-gradient-6 font-inverse" title="Gradient 6" href="javascript:void(0);">Gradient 6</a>
                <a class="tooltip-button set-sidebar-style bg-gradient-7" data-header-bg="bg-gradient-7 font-inverse" title="Gradient 7" href="javascript:void(0);">Gradient 7</a>
                <a class="tooltip-button set-sidebar-style bg-gradient-8" data-header-bg="bg-gradient-8 font-inverse" title="Gradient 8" href="javascript:void(0);">Gradient 8</a>
            </div>
        </div>
    </div>
</div>
</div>

<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            Info tiles
        </h3>
        <div class="example-box-wrapper">
            <div class="row">
                <div class="col-md-4">
                    <div class="tile-box bg-primary">
                        <div class="tile-header">
                            New orders
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +55%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-bullhorn"></i>
                            <div class="tile-content">
                                <span>$</span>
                                393
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tile-box bg-white content-box">
                        <div class="tile-header">
                            Revenue
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +15%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-dashboard"></i>
                            <div class="tile-content">
                                <span>$</span>
                                34,695
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tile-box bg-red">
                        <div class="tile-header">
                            Orders
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +15%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-fire"></i>
                            <div class="tile-content">
                                65
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tile-box bg-black">
                        <div class="tile-header">
                            Downloads
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +5%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-money"></i>
                            <div class="tile-content">
                                23,5k
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tile-box bg-purple">
                        <div class="tile-header">
                            YoY Growth
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +55%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-ticket"></i>
                            <div class="tile-content">
                                <span>$</span>
                                378
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tile-box bg-blue">
                        <div class="tile-header">
                            New subscriptions
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +77%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-camera"></i>
                            <div class="tile-content">
                                134
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            Info tiles buttons
        </h3>
        <div class="example-box-wrapper">
            <div class="row">
                <div class="col-md-4">
                    <a href="#" title="Example box" class="tile-box btn btn-primary">
                        <div class="tile-header">
                            New orders
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +55%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-bullhorn"></i>
                            <div class="tile-content">
                                <span>$</span>
                                393
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" title="Example box" class="tile-box btn bg-white content-box">
                        <div class="tile-header">
                            Revenue
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +15%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-dashboard"></i>
                            <div class="tile-content">
                                <span>$</span>
                                34,695
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" title="Example box" class="tile-box btn btn-danger">
                        <div class="tile-header">
                            Orders
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +15%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-camera"></i>
                            <div class="tile-content">
                                65
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" title="Example box" class="tile-box btn btn-default">
                        <div class="tile-header">
                            Downloads
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +5%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-tachometer"></i>
                            <div class="tile-content">
                                23,5k
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" title="Example box" class="tile-box btn btn-warning">
                        <div class="tile-header">
                            YoY Growth
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +55%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-university"></i>
                            <div class="tile-content">
                                <span>$</span>
                                378
                            </div>
                        </div>
                    </a>
                </div>
                <div class="col-md-4">
                    <a href="#" title="Example box" class="tile-box btn btn-info">
                        <div class="tile-header">
                            New subscriptions
                            <div class="float-right">
                                <i class="glyph-icon icon-caret-up"></i>
                                +77%
                            </div>
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-retweet"></i>
                            <div class="tile-content">
                                134
                            </div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            Alternate tiles
        </h3>
        <div class="example-box-wrapper">
            <div class="row">
                <div class="col-md-4">
                    <div class="tile-box tile-box-alt bg-primary">
                        <div class="tile-header">
                            New Visitors
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-dashboard"></i>
                            <div class="tile-content">
                                <span>$</span>
                                378
                            </div>
                            <small>
                                <i class="glyph-icon icon-caret-up"></i>
                                +7,6% new users in the first quarter
                            </small>
                        </div>
                        <a href="#" class="tile-footer tooltip-button" data-placement="bottom" title="This is a link example!">
                            view details
                            <i class="glyph-icon icon-arrow-right"></i>
                        </a>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="tile-box tile-box-alt bg-white content-box">
                        <div class="tile-header">
                            Revenue
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon font-gray icon-camera"></i>
                            <div class="tile-content">
                                <span>$</span>
                                5,937
                            </div>
                            <small>
                                <i class="glyph-icon icon-caret-up"></i>
                                +7,6% new users in the first quarter
                            </small>
                        </div>
                        <a href="#" class="tile-footer tooltip-button" data-placement="bottom" title="This is a link example!">
                            view details
                            <i class="glyph-icon icon-arrow-right"></i>
                        </a>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tile-box tile-box-alt bg-blue-alt">
                        <div class="tile-header">
                            Subscriptions
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-tag"></i>
                            <div class="tile-content">
                                <span>$</span>
                                378
                            </div>
                            <small>
                                <i class="glyph-icon icon-caret-up"></i>
                                +7,6% new users in the first quarter
                            </small>
                        </div>
                        <a href="#" class="tile-footer tooltip-button" data-placement="bottom" title="This is a link example!">
                            view details
                            <i class="glyph-icon icon-arrow-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="tile-box tile-box-alt bg-black-opacity">
                        <div class="tile-header">
                            New Visitors
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-dashboard"></i>
                            <div class="tile-content">
                                <span>$</span>
                                378
                            </div>
                            <small>
                                <i class="glyph-icon icon-caret-up"></i>
                                +7,6% new users in the first quarter
                            </small>
                        </div>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="tile-box tile-box-alt bg-red">
                        <div class="tile-header">
                            Revenue
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-camera"></i>
                            <div class="tile-content">
                                <span>$</span>
                                5,937
                            </div>
                            <small>
                                <i class="glyph-icon icon-caret-up"></i>
                                +7,6% new users in the first quarter
                            </small>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="tile-box tile-box-alt bg-green">
                        <div class="tile-header">
                            Subscriptions
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-tag"></i>
                            <div class="tile-content">
                                <span>$</span>
                                378
                            </div>
                            <small>
                                <i class="glyph-icon icon-caret-up"></i>
                                +7,6% new users in the first quarter
                            </small>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            Tile shortcuts
        </h3>
        <div class="example-box-wrapper">
            <div class="row">
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-primary">
                        <span class="bs-badge badge-absolute">5</span>
                        <div class="tile-header">
                            Dashboard
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-dashboard"></i>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-black">
                        <span class="bs-badge badge-absolute">5</span>
                        <div class="tile-header">
                            Orders
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-cogs"></i>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-danger">
                        <span class="bs-badge badge-absolute">1</span>
                        <div class="tile-header">
                            Monthly Earnings
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-file-photo-o"></i>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-success">
                        <div class="tile-header">
                            Photo Gallery
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-desktop"></i>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-info">
                        <span class="bs-badge badge-absolute">2</span>
                        <div class="tile-header">
                            Subscriptions
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-download"></i>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-shortcut btn-warning">
                        <div class="tile-header">
                            New Visitors
                        </div>
                        <div class="tile-content-wrapper">
                            <i class="glyph-icon icon-code-fork"></i>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="panel">
    <div class="panel-body">
        <h3 class="title-hero">
            Easy Pie Charts
        </h3>
        <div class="example-box-wrapper">
            <div class="row">
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-alt btn-primary">
                        <div class="tile-header">
                            Dashboard
                        </div>
                        <div class="tile-content-wrapper">
                            <div class="chart-alt-10" data-percent="21"><span>21</span>%</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-alt btn-black">
                        <div class="tile-header">
                            Orders
                        </div>
                        <div class="tile-content-wrapper">
                            <div class="chart-alt-10" data-percent="67"><span>67</span>%</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-alt btn-danger">
                        <div class="tile-header">
                            Monthly Earnings
                        </div>
                        <div class="tile-content-wrapper">
                            <div class="chart-alt-10" data-percent="55"><span>55</span>%</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-alt btn-success">
                        <div class="tile-header">
                            Photo Gallery
                        </div>
                        <div class="tile-content-wrapper">
                            <div class="chart-alt-10" data-percent="43"><span>43</span>%</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-alt btn-info">
                        <div class="tile-header">
                            Subscriptions
                        </div>
                        <div class="tile-content-wrapper">
                            <div class="chart-alt-10" data-percent="76"><span>76</span>%</div>
                        </div>
                    </a>
                </div>
                <div class="col-md-2">
                    <a href="#" title="Example tile shortcut" class="tile-box tile-box-alt btn-warning">
                        <div class="tile-header">
                            New Visitors
                        </div>
                        <div class="tile-content-wrapper">
                            <div class="chart-alt-10" data-percent="11"><span>11</span>%</div>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



