.ng-scope {
    z-index: 55;
}
#page-header {
    z-index: 60;
    position: relative;
}
#page-content-wrapper {
    z-index: 50;
}

.ng-leave,
.ng-enter {
    overflow: hidden;
}
/* For page specific animations - Add page specific classes ------------------------ */

/* -----------All pages--------------- */
.ng-leave        {
    -webkit-animation:fadeOutLeft 0.4s both ease-in;
    -moz-animation:fadeOutLeft 0.4s both ease-in;
    animation:fadeOutLeft 0.4s both ease-in;

}
.ng-enter 		{
    -webkit-animation:fadeInRight 0.5s both ease-in;
    -moz-animation:fadeInRight 0.5s both ease-in;
    animation:fadeInRight 0.5s both ease-in;
    -webkit-animation-delay: 0.2s; /* Chrome, Safari, Opera */
    animation-delay: 0.2s;
}
