/* App - Custom CSS */

.dim {
    color: #777;
}

.absCentre {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
}

/*font-awesome*/

.fa {
    display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
}

.fa-github:before {
    content: "\f09b";
}

.fa-chevron-left:before {
    content: "\f053";
}

.fa-chevron-right:before {
    content: "\f054";
}

.fa-check:before {
    content: "\f00c";
}

.fa-times:before {
    content: "\f00d";
}

.fa-home:before {
    content: "\f015";
}

/*Sidebar Menu CSS*/
#sidebar-menu > li > a.menu-active {
    padding: 0 10px 0 0;
    border-radius: 3px;
    font-size: 13px;
    line-height: 35px;
    height: 36px;
    color: #00a2bc;
    border: 1px solid #00a2bc;
}

#sidebar-menu > li > a.menu-active:hover {
    text-decoration: none;
}

#sidebar-menu > li > a.menu-normal:hover {
    text-decoration: none;
    color: #222;
    border: 1px solid #d1d9dd;
}

#sidebar-menu > li > a.menu-active,
#sidebar-menu > li > a.menu-active:active,
#sidebar-menu > li > a.menu-normal,
#sidebar-menu > li > a.menu-normal:active {
    text-decoration: none;
}

/* Component Selection CSS */
a.sel {
    background: #b7ca6e;
    color: #fff;
}

a.sel:focus,
a.sel:hover {
    background: #b7ca6e;
    color: #fff;
}

a.gray {
    background: #eff4f6;
}

a.selJobTypeClass {
    background: #60c0ce;
    color: #fff;
}

a.selJobTypeClass:focus,
a.selJobTypeClass:hover {
    background: #60c0ce;
    color: #444;
}

